*{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
  }
  body{
    background-color: white;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .Title{
    position: absolute;
    font-size: 23vw;
    z-index: -1;
    color: rgb(169, 8, 8);
    filter: drop-shadow(4px 2px 10px);
    padding-left: 3vw;
    text-shadow: 7.5px 0.5px rgb(127, 17, 17);
    
  }
  .log-in-container{
    background-color: rgba(0, 0, 0, 0.414);
    border: none;
    padding: 40px 60px 60px 60px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 5px );
    color: rgb(255, 255, 255);
  }
  .mailBorder{
  border: solid rgb(255, 255, 255) 1px;
color: white;}
  .email-log-in-container{
    display: grid;
    border-bottom: 2px rgb(255, 255, 255) solid;
    margin-bottom: 5vh;
  }
  .email-log-in-container input{
    height: 5vh;
    width: 100%;
    margin-top: 2vh;
    border-radius: 10px;
    padding-left: 10px;
    background-color: transparent;
  }
  .email-log-in-container input:focus{
 outline: none;
  }
  .email-log-in-container label{
    margin-top: 2vh;
    text-align: left;
  }
  .email-log-in-container button{
  background-color: transparent;
  border: solid 1px rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 1.5vw;
    cursor: pointer;
    transition: 1.5s ease-in-out;
    height: 7vh;
    margin-top: 20px;
    width: 11vw;
    font-size: 1vw;
    margin-left: 5px;
    margin-bottom: 20px;
  
   
  }
  .email-log-in-container button:hover{
    background-color: rgb(114, 0, 0);
 
  }
  
  .log-in-with-google{
    display: grid;
    place-content: center;
    margin-top: 5vh;
  }
  .log-in-with-google button{
    border-radius: 100px;
    background-color: transparent;
    padding: 14px 15px 9px 15px ;
    cursor: pointer;
    margin-bottom: 1.5vh;
    border: 1px solid rgb(255, 0, 0);
  }
  svg{
    fill: #ff0000;
  }
  .log-in-btn,
  .sign-up-btn{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
    
  }
  .gen{
    color: white;
  }
  h1{
    color: rgb(255, 255, 255);
  }
  .warning{
    color: rgb(255, 255, 255);
    font: bold;
    text-align: start;
    margin-top: 20px;
   
  }
  .inf{
    display: inline-block;
    color: red
  }
  .btnContainer button{
    color: white;
  }